[Unit]
Description=Gateway failover service
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/gw-failover --config-file=/usr/local/etc/gw-failover.yaml
Restart=always

[Install]
WantedBy=multi-user.target
